streamlit==1.23.1
transformers==4.30.2
albumentations==1.2.1
coremltools==6.3.0
matplotlib==3.7.1
numpy==1.22.4
#onnx==1.14.0
#onnx_graphsurgeon==0.0.1.dev5
#onnxsim==0.4.31
opencv_contrib_python==4.7.0.72
opencv_python==4.7.0.72
opencv_python_headless==4.7.0.72
pafy==0.5.5
pandas==1.5.3
#Pillow==8.4.0
Pillow==9.5.0
pycocotools==2.0.6
PyYAML==6.0
Requests==2.31.0
scipy==1.10.1
seaborn==0.12.2
setuptools==67.7.2
#thop==0.1.1.post2209072238
torch==1.9.0
#torchvision==0.15.2+cu118
tqdm==4.65.0
tritonclient==2.34.0
wandb==0.15.4
